<%= render "nav", locals: { user: @user } %>
<%= render "loginmodal" %>
<%= render "signmodal" %>
<%= render "resetmodal" %>


<!-- THAT SICK HEADER -->
<div id="headerwrap">
  <div class="container">
    <h1>  This is THE LANDING PAGE!ahosdfsa!!!</h1> 
  </div>
</div>


<!-- COOL FLAT ICONS -->

<div class="icons"  id="startchange" style=" padding-top: 50px; padding-bottom: 30px;">
<div class="container">
    <div class="row  centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>WANNA GET AWAY<br>DO IT NOW.</h1>
        <h3>THIS IS THE MOST AWESOME THING I EVER MADE ALLALALALAL</h3>
      </div>
    </div>
    
    <div class="row  centered" style="margin-top: 30px">
      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Vespa-icon.png" width="180" alt="">
        <h4>1 - TRAVEL</h4>
        <p>TRAVEL THE WORLD</p>
      </div>

      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Wallet-icon.png" width="180" alt="">
        <h4>2 - SAVINGS</h4>
        <p>SAVE LOTS OF MONEY</p>

      </div>

      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Cabin-icon.png" width="180" alt="">
        <h4>3 - EXPLORE</h4>
        <p>GET A GIRLFRIEND OR BOYFRIEND</p>

      </div>
    </div>
    <hr>
  </div>
</div>

<!-- FUN CAROSUEL -->
<!-- <div class="picture" style="  padding-bottom: 30px;">
<div class="container">
    <div class="row  centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>THIS APP IS FOR EVERYONE</h1>
        <h3>YOU CAN DO AMAZING THINGS IN THIS AMAZING WORLD IF YOU JUST GIVE IT A TRY.</h3>
      </div>
    </div>
  
    <div class="row  centered" style="margin-top: 30px;">
      <div class="col-lg-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
        
          
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://farm8.staticflickr.com/7522/15629624809_0ef1f7d695_k.jpg" alt="" style="height:620px; width:1600px;">
            </div>
            <div class="item">
              <img src="https://farm6.staticflickr.com/5615/15598273199_fc4f4ff9bf_o.jpg" alt="" style="height:620px;  width:1600px;">
            </div>
            <div class="item">
              <img src="https://farm8.staticflickr.com/7489/15816591882_a31f567811_h.jpg" alt="" style="height:620px;  width:1600px;">
            </div>
          </div>
        </div>      
      </div>
    </div>
    <br>
    <br>
    <hr>
  </div>
</div> -->

<div id="home2">
    <div id="testimonials">
      <div class="container">
        <div class="row centered">
          <div class="col-md-12">
            <h1>CHECK OUT WHAT PEOPLE SAY.</h1>
          </div>
        </div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-sm-6">
            <div class="testimonial pull-right">
              <div class="quote">
                "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/4/000/15e/337/306d44c.jpg" class="img-circle" alt="testimonial1">
                <div class="name">Elie Schoppik</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
              "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/6/005/04d/2dc/1ef8b4a.jpg" class="img-circle" alt="testimonial2">
                <div class="name">Ilias Tsangaris</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
                "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://avatars2.githubusercontent.com/u/134332?v=3&s=400" class="img-circle" alt="testimonial2">
                <div class="name">Tim Licata</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
                "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/7/000/1e8/00a/1d67eae.jpg" class="img-circle" alt="testimonial2">
                <div class="name">Markus Guehrs</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>


<!-- TEAMMMATES -->
<div class="team">
<div class="container">
    <div class="row  centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Our Awesome Team.<br/>Developers EXTRAORDINAIRE.</h1>
        <h3>Except Switch he's the worst.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row  centered" style="margin-top: 30px;">
      <div class="col-lg-3">
        <img class="img-circle" src="https://media.licdn.com/media/p/3/000/1e8/0c3/15fa8f7.jpg" width="140" height="150px" alt="">
        <h4>Switch Thomas</h4>
        <p>The absolute worst</p>
      </div><!--/col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="https://media.licdn.com/media/p/6/005/09a/2a5/347fb36.jpg" width="140" height="150px" alt="">
        <h4>Ryan Shim</h4>
        <p>the best</p>
      </div><!--/col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1240693/sdCiAECOveO0WJ5/upload.png" width="140" height="150px" alt="">
        <h4>Rajeev Dhar</h4>
        <p>The best</p>
      </div><!--/col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="https://media.licdn.com/media/p/2/000/1ed/1da/01f3895.jpg" width="140" height="150px" alt="">
        <h4>Calvin Jhunjhnuwala</h4>
        <p>the best</p>
      </div><!--/col-lg-3 -->
    </div><!-- /row -->
    <hr>
  </div><!-- /container -->
</div>


<div class="footer">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-6">
        <p>Created by the most awesome team.. The Dream Team</p>
      </div>
    </div>
  </div>
</div>
  
