<%= render "nav", locals: { user: @user } %>
<%= render "loginmodal" %>
<%= render "signmodal" %>
<%= render "resetmodal" %>


<!-- THAT SICK HEADER -->
<div id="headerwrap">
  <div class="container">
    <h1>  This is THE LANDING PAGE!ahosdfsa!!!</h1> 
  </div>
</div>


<!-- COOL FLAT ICONS -->

<div class="icons"  id="startchange" style=" padding-top: 50px; padding-bottom: 30px;">
<div class="container">
    <div class="row  centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>WANNA GET AWAY<br>DO IT NOW.</h1>
        <h3>THIS IS THE MOST AWESOME THING I EVER MADE ALLALALALAL</h3>
      </div>
    </div>
    
    <div class="row  centered" style="margin-top: 30px">
      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Vespa-icon.png" width="180" alt="">
        <h4>1 - TRAVEL</h4>
        <p>TRAVEL THE WORLD</p>
      </div>

      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Wallet-icon.png" width="180" alt="">
        <h4>2 - SAVINGS</h4>
        <p>SAVE LOTS OF MONEY</p>

      </div>

      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Cabin-icon.png" width="180" alt="">
        <h4>3 - EXPLORE</h4>
        <p>GET A GIRLFRIEND OR BOYFRIEND</p>

      </div>
    </div>
    <hr>
  </div>
</div>


<!-- THOSE COOL TEXT BUBBLES -->

<div id="home2">
    <div id="testimonials">
      <div class="container">
        <div class="row centered">
          <div class="col-md-12">
            <h1>CHECK OUT WHAT PEOPLE SAY.</h1>
          </div>
        </div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-sm-6">
            <div class="testimonial pull-right">
              <div class="quote">
                "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/4/000/15e/337/306d44c.jpg" class="img-circle" alt="testimonial1">
                <div class="name">Elie Schoppik</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
              "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/6/005/04d/2dc/1ef8b4a.jpg" class="img-circle" alt="testimonial2">
                <div class="name">Ilias Tsangaris</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
                "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://avatars2.githubusercontent.com/u/134332?v=3&s=400" class="img-circle" alt="testimonial2">
                <div class="name">Tim Licata</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
                "WOW THIS IS AMAZING. I'VE NEVER THOUGHT THERE COULD BE AN AMAZING APP JUST LIKE THIS!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/7/000/1e8/00a/1d67eae.jpg" class="img-circle" alt="testimonial2">
                <div class="name">Markus Guehrs</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>




<!-- TEAMMMATES A.K.A (JUST ME!) -->
<div class="team">
<div class="container">
    <div class="row  centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>The Creater<br/>Hopeful Developer</h1>
        <h3>THAT'S ME!</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row  centered" style="margin-top: 30px;">      
      <div class="col-lg-6 col-lg-offset-3">
        <img class="img-circle" src="https://media.licdn.com/media/p/6/005/09a/2a5/347fb36.jpg" width="140" height="150px" alt="">
        <h4>Ryan Shim</h4>
        <p><a target="_blank" href="https://www.facebook.com/ryan.shim.7"><i class="glyphicon glyphicon-globe"></i></a><a target="_blank" href="https://www.linkedin.com/in/ryanshim24"> <i class="glyphicon glyphicon-phone"></i></a><a href="mailto:ryanshim92@gmail.com"><i class="glyphicon glyphicon-send"></i></a>
      </div><!--/col-lg-3 -->    
    </div><!-- /row -->
    <hr>
  </div><!-- /container -->
</div>



<!-- MY FOOTER! -->
<div class="footer">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-6">
        <p>Created by the most lonesome awesome one man team.. The Lonesome Man</p>
      </div>
    </div>
  </div>
</div>
  
